<template>
  <v-skeleton-loader
    :loading="loading"
    type="card"
    class="h-100"
  >
    <v-card
      class="h-100"
    >
      <v-img
        class="white--text align-end"
        height="200px"
        :src="excursion.img || excursion.image && excursion.image.link"
        :lazy-src="defaultImage"
      >
        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
          </v-row>
        </template>
        <v-card-title>{{ excursion.title || excursion.name }}</v-card-title>
      </v-img>

      <v-card-text class="text--primary excursion-card__text">
        <div>{{ excursion.subtitle || excursion.shortDescription }}</div>
      </v-card-text>

      <v-divider></v-divider>
      <v-subheader>Записаться</v-subheader>

      <v-card-text>
        <v-btn
          :key="date.id"
          color="primary"
          class="mr-1 mb-2"
          small
          rounded
          nuxt
          v-for="date in excursion.dates"
          :to="{ name: 'excursions-id', params: { id: excursion.id }, query: {t: $moment(date.date).toISOString()}}"
        >
          {{ $moment(date.date).calendar() }}
        </v-btn>
      </v-card-text>
    </v-card>
  </v-skeleton-loader>
</template>

<script>
  import { defaultImage } from '../utils/helpers'

  export default {
    name: "ExcursionCard",
    props: {
      excursion: Object,
      loading: Boolean
    },
    data() {
      return {
        defaultImage,
        excursionDate: {}
      }
    }
  }
</script>

<style scoped>
  .excursion-card__text {
    height: 120px;
  }
</style>
