<template>
  <div>
    <v-text-field
      v-model="search.name"
      label="Содержит в названии..."
      @keyup="handleSearch(false)"
      @change="handleSearch(false)"
      @click:clear="handleSearch(false)"
      clearable
    >
    </v-text-field>
    <v-select
      :items="categories"
      v-model="search.category"
      clearable
      label="Категория"
    >
    </v-select>
    <v-menu
      ref="menu"
      v-model="menu1"
      :close-on-content-click="false"
      :return-value.sync="search.date_start"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="search.date_start"
          label="Дата начала"
          readonly
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker v-model="search.date_start" no-title scrollable>
        <v-spacer></v-spacer>
        <v-btn text color="primary" @click="menu1 = false">Отмена</v-btn>
        <v-btn text color="primary" @click="$refs.menu.save(search.date_start)">Сохранить</v-btn>
      </v-date-picker>
    </v-menu>
    <v-menu
      ref="menu1"
      v-model="menu2"
      :close-on-content-click="false"
      :return-value.sync="search.date_end"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="search.date_end"
          label="Конечная дата"
          readonly
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker v-model="search.date_end" no-title scrollable>
        <v-spacer></v-spacer>
        <v-btn text color="primary" @click="menu2 = false">Отмена</v-btn>
        <v-btn text color="primary" @click="$refs.menu1.save(search.date_end)">Сохранить</v-btn>
      </v-date-picker>
    </v-menu>
    <v-btn text @click="handleSearch">
      Найти экскурсию
    </v-btn>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import {list} from '../api/tag'
  import {queryString} from '../utils/helpers'

  export default {
    name: "SearchBar",
    data() {
      return {
        menu1: '',
        menu2: '',
        categories: [],
        search: {
          name: '',
          category: null,
          date_start: '',
          date_end: ''
        }
      }
    },
    computed: {
      ...mapGetters('user', [
        'token'
      ]),
      ...mapGetters('theme', [
        'dark'
      ])
    },
    created() {
      this.loadCategories().then(data => {

        const tags = data.map(tag => {
          return {value: tag.id, text: tag.name}
        })

        this.categories = [...this.categories, ...tags]
      })

      const { name, category, date_start, date_end } = this.$route.query;

      this.search.name = name;
      this.search.category = category;
      this.search.date_start = date_start;
      this.search.date_end = date_end;
    },
    methods: {
      handleSearch(is_redirect = true) {
        if (this.$route.name === 'search') {
          this.$emit('search', queryString(this.search))
        } else {
          if (is_redirect)
            this.$router.push({path: '/search', query: {...this.search}})
        }
      },
      loadCategories() {
        return new Promise((resolve, reject) => {
          list().then(response => {
            const {tags} = response
            resolve(tags)
          }).catch(reason => {
            reject(reason)
          })
        })
      }
    }
  }
</script>

<style scoped>
  .plaplex__tittle {
    display: flex;
    flex-direction: column;
    font-size: 3em;
  }

  .plaplex__tittle a {
    color: black;
  }

  span.subtitle {
    font-size: 14px;
  }
</style>
