<template>
  <v-carousel
    height="100vh"
    show-arrows-on-hover
    hide-delimiters
  >
    <v-carousel-item :key="slide.id" v-for="slide in slides">
      <v-img
        class="carousel-caption__item"
        :src="slide.img"
        :lazy-src="defaultImage"
        height="100vh"
        :aspect-ratio="16/9"
      >

        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
          </v-row>
        </template>
        <v-overlay absolute v-if="!loading">
          <v-container class="p-5">
            <v-row align="center">
              <v-col>
                <h1 class="carousel-caption__title">{{ slide.title }}</h1>
              </v-col>
            </v-row>
            <v-row align="center" class="w-75">
              <v-col>
                <span class="carousel-caption__subtitle">{{ slide.subtitle }}</span>
              </v-col>
            </v-row>
            <v-row align="center">
              <v-col>
                <v-btn x-large color="primary" class="pr-5 pl-5 carousel-caption__button" :to="{ name: 'excursions-id', params: { id: slide.id }}">Записаться</v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-overlay>
      </v-img>
    </v-carousel-item>
  </v-carousel>
</template>

<script>
  import { defaultImage } from "../utils/helpers";

  export default {
    name: "slider",
    props: {
      slides: Array,
      loading: Boolean
    },
    data() {
      return {
        defaultImage
      }
    }
  }
</script>

<style scoped>
  .carousel-caption__button {
    width: 350px;
  }

  .carousel-caption__title {
    font-size: 7em;
  }

  .carousel-caption__subtitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
</style>
