<template>
  <v-app>
    <v-content>
      <nuxt/>
    </v-content>
    <v-footer
      color="primary lighten-1"
      padless
    >
      <v-row
        justify="center"
        no-gutters
      >
        <v-btn
          color="white"
          text
          rounded
          nuxt
          to="/"
          class="my-2"
        >
          Главная
        </v-btn>
        <v-btn
          color="white"
          text
          rounded
          nuxt
          to="/about"
          class="my-2"
        >
          О нас
        </v-btn>
        <v-btn
          color="white"
          text
          rounded
          nuxt
          to="#"
          class="my-2"
        >
          Сотрудничество
        </v-btn>
        <v-btn
          color="white"
          text
          rounded
          nuxt
          to="/login"
          class="my-2"
          v-if="!token"
        >
          Войти
        </v-btn>
        <v-btn
          color="white"
          text
          rounded
          nuxt
          to="/registration"
          class="my-2"
          v-if="!token"
        >
          Регистрация
        </v-btn>
        <v-btn
          color="white"
          text
          rounded
          nuxt
          to="/profile"
          class="my-2"
          v-if="token"
        >
          Личный кабинет
        </v-btn>
        <v-col
          class="primary lighten-2 py-4 text-center white--text"
          cols="12"
        >
          {{ new Date().getFullYear() }} — <strong>Plaplex</strong>
        </v-col>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script>
  import Cookies from 'js-cookie'
  import {mapGetters} from 'vuex'

  export default {
    computed: {
      ...mapGetters('theme', [
        'dark'
      ]),
      ...mapGetters('user', [
        'token'
      ])
    },
    created() {
      this.$vuetify.theme.dark = Cookies.get('theme_dark') || false
    }
  }
</script>

<style>
  html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
</style>
