<template>
  <v-app>
    <v-content>
      <nuxt/>
    </v-content>
  </v-app>
</template>

<script>
  import Cookies from 'js-cookie'
  import {mapGetters} from 'vuex'


  export default {
    computed: {
      ...mapGetters('theme', [
        'dark'
      ]),
      ...mapGetters('user', [
        'token'
      ])
    },
    created() {
      this.$vuetify.theme.dark = Cookies.get('theme_dark') || false
    }
  }
</script>

<style>
  html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
</style>
