<template>
    <v-container>
        <v-row>
            <v-col>
                <v-breadcrumbs :items="items"></v-breadcrumbs>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-col :cols="8">
                <v-card>
                    <v-card-title>О нас</v-card-title>
                    <v-card-text>
                        Plaplex - сервис поиска и заказа экскурсий. Вы оплачиваете билет банковской картой. Мы
                        гарантируем
                        безопасность платежей и возврат средств при отмене бронирования за 72 часа до события.
                        Найти и забронировать экскурсию можно на сайте. До бронирования, если есть вопросы, можно
                        обсудить
                        напрямую с гидом все детали.
                        Plaplex - это не только групповые и индивидуальные экскурсии, но и, например, различные
                        мастер-классы
                        (кулинария, йога, рисование и т.д.), входные билеты в музеи, чтобы избежать очередей,
                        туристические
                        автобусы (city sightseeing) и множество других.
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-col :cols="8">
                <v-card>
                    <v-card-title>Контакты</v-card-title>
                    <v-card-text>
                        ООО "Прогирс", ул. Сурикова 25 <br>

                        Телефон: 8-9999999 <br>

                        610035, Кировская область, город Киров, улица Сурикова, дом 24, квартира 61 <br>

                        ИНН 4345469873 <br>

                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
  export default {
    name: "About",
    data() {
      return {
        items: [
          {
            text: 'Главная',
            disabled: false,
            href: '/'
          },
          {
            text: 'О нас',
            disabled: true,
            href: '/about'
          }
        ]
      }
    }
  }
</script>

<style scoped>

</style>