<template>
    <v-container class="fill-height" fluid>
        <v-row justify="center">
            <v-col :cols="10">
                <v-row>
                    <v-col :cols="4">
                        <client-only>
                            <v-card>
                                <v-card-title>Аватар</v-card-title>
                                <v-card-text>
                                    <v-img :src="avatar || 'https://placekitten.com/300/300'"></v-img>
                                </v-card-text>
                            </v-card>
                            <v-card class="mt-5">
                                <v-card-title>Настройки</v-card-title>
                                <v-card-text>
                                    <v-switch
                                            v-model="$vuetify.theme.dark"
                                            hide-details
                                            inset
                                            label="Темная тема"
                                    ></v-switch>
                                </v-card-text>
                            </v-card>
                        </client-only>
                    </v-col>
                    <v-col :cols="6">
                        <v-card>
                            <v-card-title>Смена пароля</v-card-title>
                            <v-card-text>
                                <v-form v-model="valid" ref="form" lazy-validation>
                                    <v-text-field
                                            v-model="form.oldPassword"
                                            required
                                            :rules="oldPasswordRules"
                                            type="password"
                                            label="Старый пароль"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-model="form.password"
                                            type="password"
                                            :rules="passwordRules"
                                            required
                                            label="Новый пароль"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-model="form.passwordConfirmation"
                                            type="password"
                                            :rules="passwordConfirmationRules"
                                            required
                                            label="Повторите новый пароль"
                                    >
                                    </v-text-field>
                                    <v-btn @click="handleUpdate">
                                        Обновить
                                    </v-btn>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col :cols="2">
                        <v-btn text nuxt to="/profile">Основная информация</v-btn>
                        <v-btn text nuxt to="/change-password">Сменить пароль</v-btn>
                        <v-btn text nuxt to="#">Добавить экскурсию</v-btn>
                        <v-btn text nuxt :to="{path: '/search', query: {organisation: this.id}}">Мои экскурсии</v-btn>
                        <v-btn text variant="link" @click="logout">
                            Выйти
                        </v-btn>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-snackbar
                v-model="snackbar"
                right
                top
                multi-line
                :color="snackbarError ? 'error' : 'success'"
                :timeout="6000"
        >
            {{ snackbarMessage }}
            <v-btn
                    dark
                    text
                    @click="snackbar = false"
            >
                Закрыть
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { update } from '../api/org'

  export default {
    name: "ChangePassword",
    computed: {
      ...mapGetters('user', [
        'role',
        'id',
        'avatar'
      ])
    },
    data() {
      return {
        snackbar: false,
        snackbarMessage: '',
        snackbarError: false,
        loading: true,
        valid: false,
        oldPasswordRules: [
          v => !!v || 'Укажите старый пароль',
          v => (v && v.length >= 6) || 'Пароль должен содержать минимум 6 символов',
        ],
        passwordRules: [
          v => !!v || 'Укажите новый пароль',
          v => (v && v.length >= 6) || 'Пароль должен содержать минимум 6 символов',
        ],
        passwordConfirmationRules: [
          v => !!v || 'Повторите пароль',
          v => (v && v === this.form.password) || 'Пароли должны совпадать',
        ],
        form: {
          id: '',
          oldPassword: '',
          password: '',
          passwordConfirmation: ''
        }
      }
    },
    created() {
      const form = {
        id: this.id
      }

      this.form = Object.assign(this.form, form)
    },
    methods: {
      handleUpdate() {
        const valid = this.$refs.form.validate()
        if (valid) {
          // TODO: изменить на обновление пароля у обоих групп
          update(this.form).then(data => {
            this.snackbarMessage = 'Пароль успешно изменен'
            this.snackbarError = false
            this.snackbar = true
            setTimeout(() => {this.$router.push('/profile')}, 2000)
          }).catch(reason => {
            this.snackbarMessage = 'Ошибка обновления, пожалуйста, попробуйте позже'
            if (reason.error) {
              this.snackbarMessage = reason.error
            }
            this.snackbarError = true
            this.snackbar = true
          })
        }
      },
      logout() {
        this.$store.dispatch('user/logout').then(_ => {
          this.$router.push('/')
        })
      }
    }
  }
</script>

<style scoped>

</style>
