<template>
  <v-container fluid class="fill-height pt-0">
    <v-row>
      <v-col :cols="12" class="p-0">
        <slider :slides="slides" :loading="slidesLoading" />
      </v-col>
    </v-row>
    <v-row class="mt-5">
      <v-col :cols="10">
        <h4 class="section-title">Рекомендуем</h4>
        <v-row>
          <v-col cols="3" :key="slide.id" v-for="slide in slides">
            <excursion-card :excursion="slide" :loading="slidesLoading" />
          </v-col>
        </v-row>
      </v-col>
      <v-col :cols="2">
        <search-bar />
      </v-col>
    </v-row>
<!--    <v-row class="border border-top-0">-->
<!--      <v-col cols="12">-->
<!--        <h4 class="section-title">Популярные</h4>-->
<!--      </v-col>-->
<!--      <v-col cols="6" v-for="i in 4" :key="i" class="mb-3">-->
<!--        <div class="popular__category mb-3">-->
<!--          <h5 class="section__subtitle">Заводы</h5>-->
<!--          <v-btn variant="outline-primary" size="small">Все заводы</v-btn>-->
<!--        </div>-->
<!--      </v-col>-->
<!--    </v-row>-->
  </v-container>
</template>

<script>
  import Card from '../components/excursion-card'
  import Header from '../components/header'
  import Slider from '../components/slider'
  import {recommended} from "../api/excursion";
  import {defaultImage} from "../utils/helpers";
  import ExcursionCard from "../components/excursion-card";
  import SearchBar from "../components/header";

  export default {
    name: 'Index',
    components: {
      SearchBar,
      ExcursionCard,
      Card,
      Slider,
      Header
    },
    data() {
      return {
        defaultImage,
        slides: Array.from({length: 4}, () => { return { id: Math.floor(Math.random() * 999)}}),
        slidesLoading: false
      }
    },
    mounted() {
      console.log()
    },
    created() {
      this.slidesLoading = true
      recommended().then(response => {
        const {recommended: excursions} = response;
        this.slides = excursions.map(excursion => {
          return {
            id: excursion.id,
            img: excursion.image.link,
            title: excursion.name,
            subtitle: excursion.shortDescription,
            dates: excursion.dates.slice(0, 2),
            nearestTime: excursion.nearestTime,
            tags: excursion.tags.map(tag => tag.name)
          }
        })
      }).catch(error => {
        console.log(error);
      }).finally(_ => {
        this.slidesLoading = false
      })
    }
  }
</script>

<style scoped>
  .popular__category {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
</style>
