<template>
    <v-container class="fill-height"
                 fluid>
        <v-row justify="center">
            <v-col :cols="4">
                <v-row justify="center">
                    <v-col :cols="12" text-align="center">
                        <h1>Авторизация</h1>
                    </v-col>
                </v-row>
                <v-row justify="center">
                    <v-col :cols="12">
                        <v-form v-model="valid" ref="loginForm" lazy-validation>
                            <v-text-field
                                    v-model="loginForm.email"
                                    :rules="emailRules"
                                    type="email"
                                    label="Электронная почта"
                                    required
                                    autofocus
                                    prepend-icon="fa fa-user"
                            >
                            </v-text-field>
                            <v-text-field
                                    v-model="loginForm.password"
                                    :rules="passwordRules"
                                    type="password"
                                    label="Пароль"
                                    prepend-icon="fa fa-lock"
                                    required
                            >
                            </v-text-field>
                            <v-btn class="mt-4" @click="handleSubmit">Войти</v-btn>
                        </v-form>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col :cols="12" class="text-right">
                        <span>Нет аккаунта?<v-btn text nuxt :to="'/registration'">Зарегистрироватся</v-btn></span>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-snackbar
                v-model="snackbar"
                right
                top
                multi-line
                color="error"
                :timeout="6000"
        >
            Логин или пароль указаны неверно
            <v-btn
                    dark
                    text
                    @click="snackbar = false"
            >
                Закрыть
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
  export default {
    name: "Login",
    data() {
      return {
        valid: false,
        snackbar: false,
        loginForm: {
          email: '',
          password: ''
        },
        passwordRules: [
          v => !!v || 'Укажите пароль',
          v => (v && v.length >= 6) || 'Пароль должен содержать минимум 6 символов',
        ],
        emailRules: [
          v => !!v || 'Укажите электронную почту',
          v => /.+@.+\..+/.test(v) || 'Укажите корректную электронную почту',
        ],
      }
    },
    methods: {
      handleSubmit() {
        const valid = this.$refs.loginForm.validate()
        if (valid) {
          this.$store.dispatch('user/login', this.loginForm).then(_ => {
            this.$router.push('/')
          }).catch(reason => {
            this.snackbar = true
          })
        }
      }
    }
  }
</script>

<style scoped>

</style>
