<template>
  <v-container v-if="userExcursion" class="mt-5">
    <v-row justify="center">
      <v-col cols="6" class="text-center">
        Оплатить экскурсию "{{ userExcursion.excursion.name }}"
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="6" class="text-center">
        Стоиомость: {{ userExcursion.date.price * userExcursion.participants }} р.
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="3">
        <v-card>
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-text-field autocomplete="off" name="host" v-mask="'#### #### #### ####'" placeholder="XXXX XXXX XXXX XXXX" label="Номер карты"></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="3">
                <v-text-field placeholder="CVC/CVV2" v-mask="'###'" type="password"></v-text-field>
              </v-col>
              <v-col cols="3" offset="3">
                <v-text-field v-mask="'##'" placeholder="MM"></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field v-mask="'##'" placeholder="YY"></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center" class="mt-5">
      <v-btn color="blue" :loading="loading" @click="handlePay">Оплатить</v-btn>
    </v-row>
  </v-container>
</template>

<script>
  import { get, update } from '../api/user-excursions';
  import { mask } from 'vue-the-mask'

  export default {
    name: "Pay",
    layout: "pay",
    data() {
      return {
        userExcursion: undefined,
        loading: false
      }
    },
    directives: {
      mask
    },
    methods: {
      handlePay() {
        this.loading = true;
        setTimeout(() => {
          update({ id: this.userExcursion.id, paid: true }).then(_ => {
            this.$router.push({name: 'excursions-id', params: { id: this.userExcursion.excursion.id }, query: {success: '1'}})
          })
          this.loading = false;
        }, 2000)
      }
    },
    created() {
      const userExcursionId = this.$route.query.order

      get(userExcursionId).then(result => {
        const { userExcursion } = result

        this.userExcursion = userExcursion
      })
    }
  }
</script>

<style scoped>

</style>
