<template>
    <v-container class="fill-height" fluid>
        <v-row justify="center">
            <v-col :cols="10">
                <v-row>
                    <v-col :cols="4">
                        <client-only>
                            <v-card>
                                <v-card-title>Аватар</v-card-title>
                                <v-card-text>
                                    <v-img :src="form.avatar || 'https://placekitten.com/300/300'"></v-img>
                                </v-card-text>
                            </v-card>
                            <v-card class="mt-5">
                                <v-card-title>Настройки</v-card-title>
                                <v-card-text>
                                    <v-switch
                                            v-model="$vuetify.theme.dark"
                                            hide-details
                                            inset
                                            label="Темная тема"
                                    ></v-switch>
                                </v-card-text>
                            </v-card>
                        </client-only>
                    </v-col>
                    <v-col :cols="6">
                        <v-card>
                            <v-card-title>Информация пользователя</v-card-title>
                            <v-card-text>
                                <v-form v-model="valid" ref="form" lazy-validation>
                                    <v-text-field
                                            v-model="form.name"
                                            required
                                            :label="role === 'org' ? 'Наименование организации' : 'ФИО'"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-model="form.email"
                                            :rules="emailRules"
                                            required
                                            label="Электронная почта"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-model="form.phone"
                                            v-mask="'+7(###)-###-##-##'"
                                            required
                                            label="Телефон"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-if="role === 'org'"
                                            v-model="form.inn"
                                            :counter="12"
                                            clearable
                                            required
                                            label="ИНН"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-if="role === 'org'"
                                            v-model="form.bill"
                                            required
                                            v-mask="'###-##-###-#-####-#######'"
                                            label="Расчетный счет"
                                    >
                                    </v-text-field>
                                   <v-btn @click="handleUpdate">
                                       Сохранить
                                   </v-btn>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col :cols="2">
                        <v-btn text nuxt to="/profile">Основная информация</v-btn>
                        <v-btn text nuxt to="/change-password">Сменить пароль</v-btn>
                        <v-btn v-if="role === 'org'" text nuxt to="/excursions/add">Добавить экскурсию</v-btn>
                        <v-btn text nuxt :to="{path: '/search', query: {organisation: this.id}}">Мои экскурсии</v-btn>
                        <v-btn text variant="link" @click="logout">
                            Выйти
                        </v-btn>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-overlay :value="loading">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
        <v-snackbar
                v-model="snackbar"
                right
                top
                multi-line
                :color="snackbarError ? 'error' : 'success'"
                :timeout="6000"
        >
            {{ snackbarMessage }}
            <v-btn
                    dark
                    text
                    @click="snackbar = false"
            >
                Закрыть
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<style>

</style>

<script>
  import { mask } from 'vue-the-mask'
  import { mapGetters } from 'vuex'
  import Cookies from 'js-cookie'

  export default {
    name: "Profile",
    computed: {
      ...mapGetters('user', [
        'role',
        'id',
        'email',
        'name',
        'avatar'
      ])
    },
    watch: {
      '$vuetify.theme.dark': function(value) {
        if (value) {
          Cookies.set('theme_dark', value)
        } else {
          Cookies.remove('theme_dark')
        }
      }
    },
    directives: {
      mask
    },
    created() {
      this.loading = true
      this.$store.dispatch('user/getInfo').then(user => {
        const form = {
          id: user.id,
          email: user.email,
          name: user.name,
          phone: user.phone,
          avatar: user.avatar_att && user.avatar_att.link,
          inn: user.inn,
          bill: user.bill
        }
        this.form = Object.assign(this.form, form)
      }).catch(reason => {
        console.log(reason)
      }).finally(() => {
        this.loading = false
      })
    },
    data() {
      return {
        snackbar: false,
        snackbarMessage: '',
        snackbarError: false,
        loading: true,
        valid: false,
        emailRules: [
          v => !!v || 'Укажите электронную почту',
          v => /.+@.+\..+/.test(v) || 'Укажите корректную электронную почту',
        ],
        form: {
          name: '',
          email: '',
          description: '',
          inn: '',
          bill: '',
          phone: '',
          avatar: ''
        }
      }
    },
    methods: {
      handleUpdate() {
        const valid = this.$refs.form.validate()
        if (valid) {
          // TODO: изменить на обновление обоих групп
          this.$store.dispatch(this.role === 'org' ? 'user/updateOrg' : 'user/updateUser', this.form).then(_ => {
            this.snackbarMessage = 'Информация успешно обновлена'
            this.snackbarError = false
            this.snackbar = true
          }).catch(error => {
            console.log(error)
            this.snackbarMessage = 'Ошибка обновления, пожалуйста, попробуйте позже'
            this.snackbarError = true
            this.snackbar = true
          })
        }
      },
      logout() {
        this.$store.dispatch('user/logout').then(_ => {
          this.$router.push('/')
        })
      }
    }
  }
</script>

<style scoped>

</style>
