<template>
    <v-container fluid>
        <v-row justify="center">
            <v-col :cols="4">
                <h1>Регистрация</h1>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-col :cols="4">
                <v-tabs
                        v-model="tab"
                        background-color="transparent"
                        color="basil"
                        class="mb-3"
                        grow
                >
                    <v-tab>
                        Участник
                    </v-tab>
                    <v-tab>
                        Организатор
                    </v-tab>
                </v-tabs>
                <v-tabs-items v-model="tab">
                    <v-tab-item>
                        <v-card flat>
                            <v-card-text>
                                <v-form v-model="userValid" ref="userForm" lazy-validation>
                                    <v-text-field
                                            v-model="registrationForm.email"
                                            type="email"
                                            :rules="emailRules"
                                            label="Электронная почта"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-model="registrationForm.name"
                                            :rules="nameRules"
                                            label="Имя"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-model="registrationForm.password"
                                            :rules="passwordRules"
                                            label="Пароль"
                                            type="password"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-model="registrationForm.passwordConfirmation"
                                            :rules="passwordConfirmRules"
                                            type="password"
                                            label="Повторите пароль"
                                    >
                                    </v-text-field>
                                    <v-btn @click="handleSubmitUser">
                                        Зарегистрироватся
                                    </v-btn>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item>
                        <v-card flat>
                            <v-card-text>
                                <v-form v-model="orgValid" ref="orgForm" lazy-validation>
                                    <v-text-field
                                            v-model="registrationForm.email"
                                            type="email"
                                            :rules="emailRules"
                                            label="Электронная почта"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-model="registrationForm.name"
                                            :rules="nameRules"
                                            label="Наименование организации"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-model="registrationForm.inn"
                                            label="ИНН"
                                            :counter="12"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-model="registrationForm.bill"
                                            label="Расчетный счет"
                                            v-mask="'###-##-###-#-####-#######'"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-model="registrationForm.password"
                                            :rules="passwordRules"
                                            type="password"
                                            label="Пароль"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                            v-model="registrationForm.passwordConfirmation"
                                            :rules="passwordConfirmRules"
                                            type="password"
                                            label="Повторите пароль"
                                    >
                                    </v-text-field>
                                    <v-btn @click="handleSubmitOrgs">
                                        Зарегистрироватся
                                    </v-btn>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                </v-tabs-items>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-col :cols="4">
                <span>Уже есть аккаунт? <v-btn text nuxt to="/login">Войти</v-btn></span>
            </v-col>
        </v-row>
        <v-snackbar
                v-model="snackbar"
                right
                top
                multi-line
                color="error"
                :timeout="6000"
        >
            {{ error }}
            <v-btn
                    dark
                    text
                    @click="snackbar = false"
            >
                Закрыть
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
  import { mask } from 'vue-the-mask'

  export default {
    name: "Registration",
    directives: {
      mask
    },
    data() {
      return {
        userValid: false,
        orgValid: false,
        tab: '',
        snackbar: false,
        error: '',
        passwordRules: [
          v => !!v || 'Укажите пароль',
          v => (v && v.length >= 6) || 'Пароль должен содержать минимум 6 символов'
        ],
        nameRules: [
          v => !!v || 'Поле обязательное',
        ],
        passwordConfirmRules: [
          v => !!v || 'Повторите пароль',
          v => (v && v === this.registrationForm.password) || 'Пароли должны совпадать'
        ],
        emailRules: [
          v => !!v || 'Укажите электронную почту',
          v => /.+@.+\..+/.test(v) || 'Укажите корректную электронную почту'
        ],
        registrationForm: {
          name: '',
          email: '',
          bill: '',
          inn: '',
          password: '',
          passwordConfirmation: ''
        }
      }
    },
    notifications: {
      showError: {
        title: 'Регистрация',
        message: '',
        type: 'error'
      }
    },
    methods: {
      handleSubmitOrgs() {
        const valid = this.$refs.orgForm.validate()
        if (valid) {
          this.$store.dispatch('user/createOrg', this.registrationForm).then(_ => {
            this.$router.push('/')
          }).catch(reason => {
            this.error = reason.error
            this.snackbar = true
          })
        }
      },
      handleSubmitUser() {
        const valid = this.$refs.userForm.validate()
        if (valid) {
          this.$store.dispatch('user/createUser', this.registrationForm).then(_ => {
            this.$router.push('/')
          }).catch(reason => {
            this.error = reason.error
            this.snackbar = true
          })
        }
      }
    }
  }
</script>

<style scoped>

</style>