<template>
    <v-container>
      <v-row>
        <v-col cols="10">
          <v-row class="pb-4 border border-top-0 border-bottom-0">
            <v-col cols="12">
              <h4 class="section-title">{{ chunked_excursions.length > 0 ? 'Найденные экскурсии' : 'Ничего не найдено' }}</h4>
            </v-col>
          </v-row>
          <v-row class="pb-4 border border-top-0 border-bottom-0" v-if="chunked_excursions.length > 0" :key="index"
                 v-for="(chunk, index) in chunked_excursions">
            <v-col cols="3"
                   v-for="excursion in chunk"
                   :key="excursion.id"
            >
              <excursion-card :excursion="excursion" />
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="2">
          <search-bar @search="handleSearch" />
        </v-col>
      </v-row>

    </v-container>
</template>

<script>
  import { search } from '../api/excursion'
  import ExcursionCard from '../components/excursion-card'
  import { chunk, queryString } from '../utils/helpers'
  import SearchBar from "../components/header";

  export default {
    name: "Search",
    components: {
      SearchBar,
      ExcursionCard
    },
    data() {
      return {
        chunked_excursions: []
      }
    },
    created() {
      const query = queryString(this.$route.query)

      this.handleSearch(query)
    },
    methods: {
      handleSearch(query) {
        search(`?${ query }`).then(response => {
          const { excursions } = response
          this.chunked_excursions = chunk(excursions, 4)
        })
      }
    }
  }
</script>

<style scoped>

</style>
