<template>
  <div>
    <v-container fluid>
      <v-row class="">
        <v-col cols="12">
          <v-img :src="organisation.background && organisation.background.link || 'https://placekitten.com/1920/800'" :lazy-src="defaultImage" alt=""
                 style="max-height: 480px"/>
          <div class="align-items-center h-100 organisation__caption row w-100">
            <div class="organisation__avatar text-right col-4">
              <img :src="organisation.avatar && organisation.avatar.link || 'https://placekitten.com/300/300'" alt=""/>
            </div>
            <div class="organisation__info col-6">
              <p>Организатор:</p>
              <div class="organisation__title">
                <p>{{ organisation.name }}</p>
              </div>
              <div class="organisation__desc">
                <p>{{ organisation.description }}</p>
              </div>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
    <v-container>
      <v-row>
        <v-col cols="12">
          <h4 class="section-title">Экскурсии организатора</h4>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="3"
               v-for="excursion in excursions"
               :key="excursion.id"
        >
          <excursion-card v-if="excursion.dates.length > 0" :excursion="excursion" :loading="excursion.length === 0"/>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>

  import {search} from '../../api/excursion'
  import {get} from '../../api/org'
  import ExcursionCard from '../../components/excursion-card'
  import Header from '../../components/header'
  import {defaultImage} from "../../utils/helpers";

  export default {
    name: 'Organisation',
    components: {
      Header,
      ExcursionCard
    },
    data() {
      return {
        defaultImage,
        id: this.$route.params.id,
        organisation: {},
        background: {},
        avatar: {},
        excursions: []
      }
    },
    created() {
      get(this.id).then(response => {
        const {organisation} = response
        this.organisation = organisation
      })
      search(`?organisation=${this.id}`).then(response => {
        const {excursions} = response
        this.excursions = excursions
      })
    }
  }
</script>

<style scoped>
  .organisation__caption {
    position: absolute;
    display: flex;
    color: white;
  }

  .organisation__caption.row {
    position: absolute;
    top: 100px;
    left: 30px;
  }

  .organisation__avatar img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  .organisation__title {
    font-size: 40px;
    line-height: 1.2;
  }
</style>
