<template>
  <div>
    <v-container fluid class="p-0">
      <v-row>
        <v-col cols="12" class="pt-0">
          <v-img
            :src="excursion.image && excursion.image.link"
            :lazy-src="defaultImage"
            height="600">
            <div class="align-items-center h-100 excursion__caption row w-100" v-if="excursion.image">
              <div class="col-8 excursion__caption-info">
                <h1 class="excursion__caption-title">{{ excursion.name }}</h1>
                <h4 class="excursion__caption-subtitle">{{ excursion.shortDescription }}</h4>
                <v-btn variant="primary" class="excursion__caption-button" @click="handleShowRecord" :disabled="recordDisabled">{{ recordText }}</v-btn>
                <h4>Организатор</h4>
                <v-avatar size="48">
                  <v-img :src="org.avatar && org.avatar.link || 'https://placekitten.com/300/300'" class="excursions__caption_org-avatar"/>
                </v-avatar>
                <span class="excursion__caption-org-info"><nuxt-link style="color: white"
                                                                     class="text-decoration-none"
                                                                     :to="{name: 'organisations-id', params: {id: org.id}}">{{ org.name }}</nuxt-link></span>
              </div>
              <div class="col-3 position-absolute nearest_time">
                <v-rating v-model="excursion.averageMark" readonly background-color="white lighten-3" color="white" medium></v-rating>
                <h4>Ближайщая дата:</h4>
                <span class="nearest_time__value">{{ $moment(excursion.dates[0].date).calendar() }}</span>
              </div>
            </div>

            <template v-slot:placeholder>
              <v-row
                class="fill-height ma-0"
                align="center"
                justify="center"
              >
                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
              </v-row>
            </template>
          </v-img>
        </v-col>
      </v-row>
    </v-container>
    <v-container>
      <v-sheet color="grey lighten-3">
        <v-card-title>Описание</v-card-title>
        <v-card-text> {{ excursion.description }}</v-card-text>
      </v-sheet>
      <v-row justify="center" v-if="excursions && excursions.length > 0">
        <v-col cols="10">
          <h4 class="section-title">Другие экскурсии автора</h4>
        </v-col>
        <v-col cols="3" :key="excursions.id" v-for="otherExcursion in excursions">
          <excursion-card :excursion="otherExcursion" :loading="excursions.length === 0"/>
        </v-col>
      </v-row>
<!--      <v-card>-->
<!--        <v-card-title>Отзывы</v-card-title>-->
<!--        <b-row v-for="review in reviews" :key="review.id">-->
<!--          <b-media>-->
<!--            <template v-slot:aside>-->
<!--              <b-img :src="review.user.avatar.link" blank-color="#ccc" width="64" alt="placeholder"></b-img>-->
<!--            </template>-->

<!--            <h5 class="mt-0">{{ review.user.name }}</h5>-->
<!--            <p>{{ review.review }}</p>-->
<!--          </b-media>-->
<!--        </b-row>-->
<!--        <v-card-actions>-->
<!--          <b-button variant="outline-primary" v-b-modal.reviewModal>Добавить отзыв</b-button>-->
<!--        </v-card-actions>-->
<!--      </v-card>-->

      <!-- Modal -->
      <v-dialog v-model="showRecord" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ excursion.name}}</span>
          </v-card-title>
          <v-card-text>
            <v-container fluid>
              <v-row>
                <v-col cols="6">
                  <v-select
                    :items="onlyDates.filter((v,i) => onlyDates.indexOf(v) === i)"
                    v-model="selectedDate"
                    @change="handleChangeDate"
                    label="Дата*"
                  ></v-select>
                  <v-chip-group
                    v-model="selectedTime"
                    @change="handleChangeSelectedTime"
                    >
                    <v-chip :key="time.id" v-for="time in onlyTimes" label :value="time">
                      {{ $moment(time.date).format('HH:mm')}}
                    </v-chip>
                  </v-chip-group>
                  <v-skeleton-loader
                    type="list-item-three-line"
                    class="mt-5"
                    v-if="selectedTime"
                    :loading="isLoadingSelectedDateData"
                    >
                    <div class="record-data">
                      <div class="record-data__item">
                        <div class="record-data__item__label text--primary">Цена за одного участника</div>
                        <div class="record-data__item__value"><strong>{{ selectedTime.price }} <i class="fa fa-ruble-sign"></i></strong></div>
                      </div>
                      <h2>Участники:</h2>
                      <div class="record-data__item">
                        <div class="record-data__item__label text--primary">Минимальное количество</div>
                        <div class="record-data__item__value">{{ excursion.participantsMin }}</div>
                      </div>
                      <div class="record-data__item">
                        <div class="record-data__item__label text--primary">Максимальное количество</div>
                        <div class="record-data__item__value">{{ excursion.participantsMax }}</div>
                      </div>
                      <div class="record-data__item">
                        <div class="record-data__item__label text--primary">Свободно мест</div>
                        <div class="record-data__item__value">{{ excursion.participantsMax - selectedTime.recorded }}
                        </div>
                      </div>
                    </div>
                    <div class="record-participants">
                      <v-text-field
                        v-model="record.participants"
                        type="number"
                        required
                        label="Количество участников"
                      >
                      </v-text-field>

                    </div>
                  </v-skeleton-loader>
                </v-col>
                <v-col cols="6">
                  <v-skeleton-loader
                    type="list-item-three-line"
                    class="mt-5"
                    v-if="selectedTime"
                    :loading="isLoadingSelectedDateData"
                    >
                    <h2>Контактные данные</h2>
                    <v-text-field
                      v-if="selectedTime"
                      v-model="record.email"
                      :rules="emailRules"
                      required
                      label="Электронная почта"
                    >
                    </v-text-field>
                    <v-text-field
                      v-if="selectedTime"
                      min="1"
                      v-model="record.phone"
                      v-mask="'+7(###)-###-##-##'"
                      required
                      label="Телефон"
                    >
                    </v-text-field>
                    <h2 v-if="selectedTime">Итоговая стоимость</h2>
                    <h3 v-if="selectedTime">{{ record.participants * selectedTime.price }} <i class="fa fa-ruble-sign"></i> </h3>
                  </v-skeleton-loader>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="showRecord = false">Закрыть</v-btn>
            <v-btn color="blue darken-1" text @click="handleRecord">Записаться</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="showRecordNotAuth" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Запись на экскурсию</span>
          </v-card-title>
          <v-card-text>
            <v-container fluid class="pa-0">
              <h3 class="text--primary ">Для записи на экскурсию необходимо авторизоваться.</h3>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text to="/login">Авторизоваться</v-btn>
            <v-btn color="blue darken-1" text @click="showRecordNotAuth = false">Закрыть</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="showRecordOrg" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Запись на экскурсию</span>
          </v-card-title>
          <v-card-text>
            <v-container fluid class="pa-0">
              <h3 class="text--primary ">Для записи на экскурсию необходимо быть авторизованным как участник экскурсий.</h3>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="logout">Авторизоваться</v-btn>
            <v-btn color="blue darken-1" text @click="showRecordOrg = false">Закрыть</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
    <v-snackbar
      v-model="showSuccessOrder"
      right
      top
      multi-line
      color="success"
      :timeout="6000"
    >
      Вы успешно оплатили экскурсию "{{ excursion.name }}"
      <v-btn
        dark
        text
        @click="snackbar = false"
      >
        Закрыть
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  import {dateData, get, search} from '../../api/excursion'
  import { create as createUserExcursion } from '../../api/user-excursions'
  import { mapGetters } from 'vuex'
  import {create, list} from '../../api/review'
  import ExcursionCard from '../../components/excursion-card'
  import Header from '../../components/header'
  import {defaultImage} from '../../utils/helpers';
  import {mask} from "vue-the-mask";

  export default {
    name: "Excursions",
    components: {
      Header,
      ExcursionCard,
    },
    computed: {
      ...mapGetters('user', [
        'role',
        'email',
        'phone',
      ])
    },
    directives: {
      mask
    },
    created() {
      this.loadExcursion().then(data => {
        const {excursion, org} = data

        const { dates } = excursion;

       this.onlyDates = dates.map(date => {
         return this.$moment(date.date).format('DD.MM.YYYY');
       });

        this.loadReviews(excursion.id).then(data => {
          this.reviews = data
        }).catch(error => {
          console.log(error)
        })

        this.excursion = excursion
        this.org = org

        const {photos} = excursion

        this.photos = photos.map(photo => {
          const {image} = photo
          const {id, link, name} = image

          return {id: id, title: name, url: link}
        })

        const { t } = this.$route.query;

        if (t) {
          this.selectedTime = this.excursion.dates.find(date => this.$moment(date.date) === this.$moment(t))
        }

        if (this.$route.query.success === '1') {
          this.showSuccessOrder = true;
          this.recordDisabled = true;
        }

        this.loadOtherExcursions(org.id).then(data => {
          const {excursions} = data
          this.excursions = excursions.filter(object => object.id === this.id)
        }).catch(error => {

        }).finally(_ => {
          this.loading = false
        })
      }).catch(error => {

      }).finally(_ => {
        this.loading = false
      })

    },
    methods: {
      handleRecord() {
        createUserExcursion(this.record).then(result => {

          const { data } = result;
          const { id } = data;

          if (id) {
            this.$router.push({name: 'pay', query: {order: id}})
          }

        })
      },
      logout() {
        this.$store.dispatch('user/logout').then(_ => {
          this.$router.push('/login')
        })
      },
      handleShowRecord() {
        if (this.role === 'org') {
          this.showRecordOrg = true;
        } else if (this.role === 'user') {
          this.showRecord = true;
        } else {
          this.showRecordNotAuth = true;
        }
      },
      handleChangeDate() {
        this.onlyTimes = this.excursion.dates.filter(date => {
          return this.$moment(date.date).format('DD.MM.YYYY') === this.selectedDate;
        })
      },
      handleChangeSelectedTime() {
        this.isLoadingSelectedDateData = true;

        dateData(this.excursion.id, this.selectedTime.id).then(data => {
          const { count } = data;

          const recorded = {
            recorded: count
          }

          this.selectedTime = Object.assign(this.selectedTime, recorded);
          this.record = Object.assign(this.record, {
            email: this.email,
            phone: this.phone,
            excursionId: this.excursion.id,
            dateId: this.selectedTime.id
          })
        })

        setTimeout(() => {
          this.isLoadingSelectedDateData = false;
        }, 1500)
      },
      async loadReviews() {
        return new Promise((resolve, reject) => {
          list(this.id).then(response => {
            const {reviews} = response

            resolve(reviews)
          }).catch(error => {
            reject(error)
          })
        })
      },
      handleAddReview() {
        create(this.review).then(response => {
          const {review} = response

          this.reviews.push(review)
        })
      },
      async loadExcursion() {
        return new Promise(((resolve, reject) => {
          get(this.id).then(response => {
            const {excursion} = response
            const {org} = excursion

            delete excursion.org

            resolve({excursion, org})
          }).catch(error => {
            reject(error)
          })
        }))
      },
      async loadOtherExcursions(orgId) {
        return new Promise((resolve, reject) => {
          search(`?organisation=${orgId}`).then(response => {
            const {excursions} = response
            resolve(excursions)
          }).catch(error => {
            reject(error)
          })
        })
      }
    },
    data() {
      return {
        defaultImage,
        loading: true,
        showRecord: false,
        showRecordNotAuth: false,
        showRecordOrg: false,
        id: this.$route.params.id,
        index: null,
        excursion: {},
        excursions: [],
        org: {},
        photos: [],

        // record
        onlyDates: Array(),
        onlyTimes: Array(),
        selectedDate: undefined,
        selectedTime: undefined,
        isLoadingSelectedDateData: false,

        record: {
          participants: 1,
          email: '',
          phone: '',
          dateId: 0,
          userId: 0,
          excursionId: 0
        },

        emailRules: [
          v => !!v || 'Укажите электронную почту',
          v => /.+@.+\..+/.test(v) || 'Укажите корректную электронную почту',
        ],

        review: {
          text: '',
          excursionId: this.$route.params.id
        },
        reviews: [],
        showSuccessOrder: false,
        recordDisabled: false,
        recordText: 'Записаться'
      }
    }
  }
</script>

<style scoped>
  .align-items-center.h-100.excursion__caption.row.w-100 {
    position: absolute;
    top: 0;
    color: white;
    display: flex;
    align-content: center;
  }

  .excursions__caption_org-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .btn.excursion__caption-button.btn-primary {
    height: 50px;
    width: 250px;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .nearest_time {
    top: 45px;
    right: 15px;
    text-align: right;
    margin-top: 20px;
  }

  .record-data__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .align-items-center.h-100.excursion__caption.row.w-100 {
    width: 100%;
  }
  .excursion__caption-info{
    padding-left: 7%;
  }
  .excursion__caption{
    padding-top: 2%;
  }
 .excursion__caption-button{
   margin: 15px 0px;
   width: 200px;

 }
</style>
