<template>
  <client-only>
    <v-container>
      <v-row>
        <v-breadcrumbs :items="items"></v-breadcrumbs>
      </v-row>
      <v-row justify="center">
        <v-col cols="8">
          <v-stepper v-model="step" vertical>
            <v-stepper-step
              :complete="step > 1"
              step="1"
              complete-icon="fa fa-check"
            >
              Основные данные
            </v-stepper-step>

            <v-stepper-content step="1">
              <v-form v-model="valid" ref="baseInformationForm" lazy-validation>
                <v-text-field
                  v-model="excursion.name"
                  required
                  counter="60"
                  maxlength="60"
                  label="Название экскурсии"
                  :rules="[rules.required]"
                >
                </v-text-field>
                <v-text-field
                  v-model="excursion.shortDescription"
                  required
                  counter="250"
                  maxlength="250"
                  label="Краткое описание"
                  hint="Вкратце опишите экскурсию"
                  :rules="[rules.required]"
                >
                </v-text-field>
                <v-textarea
                  v-model="excursion.description"
                  required
                  rows="1"
                  auto-grow
                  label="Описание"
                  :rules="[rules.required]"
                >
                </v-textarea>
                <v-text-field
                  v-model="excursion.price"
                  required
                  label="Цена"
                  hint="Основная цена, позже Вы сможете указать другую цену для каждой конкретной экскурсии"
                  append-icon="fa fa-ruble-sign"
                  :rules="[rules.required]"
                >
                </v-text-field>
              </v-form>
              <v-btn color="primary" class="mt-3" @click="nextStep">Продолжить</v-btn>
              <v-btn text class="mt-3" @click="previousStep">Предыдущий шаг</v-btn>
            </v-stepper-content>
            <v-stepper-step
              :complete="step > 2"
              step="2"
              complete-icon="fa fa-check"
            >
              Изображение и участники
            </v-stepper-step>
            <v-stepper-content step="2">
              <v-form v-model="valid" ref="imageForm" lazy-validation>
                <v-file-input
                  v-model="background"
                  accept="image/*"
                  label="Основное изображение"
                  clear-icon="fa fa-times"
                  :loading="backgroundLoading"
                  @change="handleChangeBackground"
                  :rules="[
                  rules.required
                ]"
                >
                </v-file-input>
                <v-img v-if="excursion.image" :src="excursion.image.link"></v-img>
                <v-text-field
                  v-model="excursion.participantsMin"
                  required
                  label="Минимальное количество участников"
                  hint="Минимальное количество участников для проведения экскурсии"
                  :rules="[rules.required]"
                >
                </v-text-field>
                <v-text-field
                  v-model="excursion.participantsMax"
                  required
                  label="Максимальное количество участников"
                  :rules="[rules.required]"
                >
                </v-text-field>
                <v-radio
                  label="Необходим список участников"
                  v-model="excursion.isParticipantsListNeeded"
                ></v-radio>
              </v-form>
              <v-btn color="primary" class="mt-3" @click="nextStep">Продолжить</v-btn>
              <v-btn text class="mt-3" @click="previousStep">Предыдущий шаг</v-btn>
            </v-stepper-content>
            <v-stepper-step
              :complete="step > 3"
              step="3"
              complete-icon="fa fa-check"
            >
              Даты экскурсий
            </v-stepper-step>
            <v-stepper-content step="3">
              <v-expansion-panels
                hover
                class="container"
              >
                <v-expansion-panel :key="date.id" v-for="(date, dateIndex) in excursion.dates">
                  <v-expansion-panel-header>
                    <template v-slot:actions>
                      <v-btn v-if="excursion.dates.length > 1" text small right @click="removeItem(date, excursion.dates)">Удалить</v-btn>
                    </template>
                    <template v-slot:default="{ open }">
                      <v-row no-gutters>
                        <v-col cols="4">{{ $moment(date.date).format('D MMM, dddd') }}</v-col>
                        <v-col
                          cols="8"
                          class="text--secondary"
                        >
                          <v-fade-transition leave-absolute>
                          <span v-if="open">
                            Выберите дату и время
                          </span>
                          </v-fade-transition>
                        </v-col>
                      </v-row>
                    </template>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-row>
                      <v-col cols="3">
                        <v-menu
                          v-model="date.menu"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          transition="scale-transition"
                          offset-y
                          min-width="290px"
                        >
                          <template v-slot:activator="{ on }">
                            <v-text-field
                              v-model="date.date"
                              label="Выберите дату"
                              prepend-icon="fa fa-calendar-alt"
                              readonly
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker v-model="date.date" @input="menu = false" locale="ru-ru"></v-date-picker>
                        </v-menu>
                      </v-col>
                      <v-col cols="9">
                        <v-row :key="time.key" v-for="(time, index) in date.times">
                          <v-col cols="4" class="pt-0 pb-0">
                            <v-menu
                              ref="timeMenu"
                              v-model="time.menu"
                              :close-on-content-click="false"
                              :return-value.sync="time.time"
                              :nudge-right="40"
                              transition="scale-transition"
                              offset-y
                              min-width="290px"
                            >
                              <template v-slot:activator="{ on }">
                                <v-text-field
                                  v-model="time.time"
                                  label="Часы"
                                  prepend-icon="fa fa-clock"
                                  hint="Время начала экскурсии"
                                  persistent-hint
                                  readonly
                                  v-on="on"
                                ></v-text-field>
                              </template>
                              <v-time-picker v-if="time.menu"
                                             v-model="time.time"
                                             format="24hr"
                                             no-title
                                             locale="ru-ru"
                                             @click:minute="$refs.timeMenu[index].save(time.time)"
                              >
                              </v-time-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="4" class="pt-0 pb-0">
                            <v-text-field
                              v-model="time.price"
                              label="Стомость"
                              append-icon="fa fa-ruble-sign"
                            ></v-text-field>
                          </v-col>
                          <v-col v-if="date.times.length > 1" cols="3" class="pt-0 pb-0">
                            <v-btn text right class="mt-3" @click="removeItem(time, date.times)">Удалить</v-btn>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                    <v-row justify="end">
                      <v-btn text right class="mt-3" @click="addTime(date.times)">Добавить время</v-btn>
                    </v-row>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
              <v-row justify="end">
                <v-col cols="3" class="text-right">
                  <v-menu
                    v-model="dayMenu"
                    transition="slide-x-transition"
                    open-on-hover
                    offset-y
                  >
                    <template v-slot:activator="{ on }">
                      <v-btn
                        color="primary"
                        dark
                        v-on="on"
                      >
                        Добавить день
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item
                        @click="addDate(COPY.NEXT_DAY)"
                      >
                        <v-list-item-title>Добавить новый день</v-list-item-title>
                      </v-list-item>
                      <v-list-item
                        @click="addDate(COPY.TO_WEEK)"
                      >
                        <v-list-item-title>Скопировать на неделю</v-list-item-title>
                      </v-list-item>
                      <v-list-item
                        @click="addDate(COPY.TO_END_OF_WEEK)"
                      >
                        <v-list-item-title>Скопировать до конца недели</v-list-item-title>
                      </v-list-item>
                      <v-list-item
                        @click="addDate(COPY.TO_MONTH)"
                      >
                        <v-list-item-title>Скопировать на месяц</v-list-item-title>
                      </v-list-item>
                      <v-list-item
                        @click="addDate(COPY.TO_END_OF_MONTH)"
                      >
                        <v-list-item-title>Скопировать до конца месяца</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </v-col>
              </v-row>
              <v-row justify="start">
                <v-col>
                  <v-btn color="primary" class="mt-3" @click="handleCreateExcursion">Сохранить</v-btn>
                  <v-btn text class="mt-3" @click="previousStep">Предыдущий шаг</v-btn>
                </v-col>
              </v-row>
            </v-stepper-content>
          </v-stepper>
        </v-col>
      </v-row>
    </v-container>
  </client-only>
</template>

<script>
  import {COPY, getNextDay, getNextMonth, getNextWeek} from "../../utils/helpers";
  import {v4 as uuid} from 'uuid'
  import {create, uploadBackground} from "../../api/excursion";
  import {objectToFormData as toFormData} from 'object-to-formdata';

  export default {
    name: "ExcursionAdd",
    data() {
      return {
        COPY,
        backgroundLoading: false,
        background: {},
        dayMenu: false,
        menus: [false],
        valid: false,
        excursion: {
          isParticipantsListNeeded: false,
          dates: []
        },
        items: [
          {
            text: 'Профиль',
            disabled: false,
            href: '/profile'
          },
          {
            text: 'Добавить экскурсию',
            disabled: true,
          }
        ],
        rules: {
          required: value => !!value || 'Пожалуйста, укажите это поле.',
        },
        step: 1
      }
    },
    methods: {
      handleChangeBackground(file) {
        if (file) {
          this.backgroundLoading = true;
          uploadBackground(toFormData({file: file})).then(response => {
            const { attachment } = response
            this.excursion = Object.assign(this.excursion, {image: attachment})
          }).finally(_ => {
            this.backgroundLoading = false;
          })
        }
      },
      nextStep() {
        switch (this.step) {
          case 1: {
            const valid = this.$refs.baseInformationForm.validate()
            if (valid) {
              this.step += 1;

              if (this.excursion.dates.length === 0) {
                this.excursion.dates = [
                  {
                    id: uuid(),
                    date: new Date().toISOString().substr(0, 10),
                    menu: false,
                    times: [
                      {
                        menu: false,
                        key: uuid(),
                        time: '10:00',
                        price: this.excursion.price
                      },
                      {
                        menu: false,
                        key: uuid(),
                        time: '11:00',
                        price: this.excursion.price
                      }
                    ]
                  }
                ]
              }
            }

            break
          }
          case 2: {
            const valid = this.$refs.imageForm.validate()
            if (valid) {
              this.step += 1;
            }
            break
          }
        }
      },
      previousStep() {
        this.step -= 1;
      },
      addDate(value) {
        const lastDate = this.excursion.dates[this.excursion.dates.length - 1]
        switch (value) {
          case COPY.NEXT_DAY:
            this.excursion.dates.push(getNextDay(lastDate))
            break
          case COPY.TO_WEEK:
            this.excursion.dates = [...this.excursion.dates, ...getNextWeek(lastDate)]
            break
        }
      },
      removeItem(object, array) {
        const index = array.findIndex(value => value === object)

        array.splice(index, 1)
      },
      addTime(times) {
        times.push({key: new Date().getTime(), price: this.excursion.price, menu: false})
      },
      handleCreateExcursion() {
        create(this.excursion).then(_ => {
          this.$router.push('/profile')
        })
      }
    }
  }
</script>

<style scoped>

</style>
